@import "tailwindcss";

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoom-in {
  animation: zoomIn 0.3s ease-out forwards;
}

